div{
    border: 1px solid rgb(255, 255, 255);
    min-height: 60px;
    background-color:cyan;
}
.operators div {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.2);
    border-color: rgb(255, 255, 255);
    cursor: pointer;
   
  }
  .operators div:hover {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.2);
    border-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .numbers div:hover {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.2);
    border-color: #bbb;
    cursor: pointer;
  }
  section.equal:hover {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.2);
    border-color: #ffffff;
    cursor: pointer;
  }
